body{
    background-image: linear-gradient(rgba(222,100,150,1), rgba(225,100,170,0.2));
    background-size: cover;
}

img{
    width: 100px;
    height: 100px;
}
.sub{
    width: 800px;
    height: 700px;
    margin: 30px auto;
}

h1{
    font-size: 70px;
    color: firebrick;
    text-align: center;
    border-bottom: 2px solid blue;
}
table{
    font-size: 30px;
}
td{
   padding: 10px 20px 0px 0px; 
}

.txt{
    width: 400px;
    height: 30px;
    border-radius: 8px;
}
.txtarea{
    width: 830px;
    height: 150px;
    border-radius: 8px;
}

.btn1{
    width: 830px;
    height: 50px;
    background-color: blue;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}
@media(max-width:700px){
img{
    width: 50px;
    height: 50px;
}
    .sub{
    width: 800px;
    height: 700px;
    margin: 30px auto;
}
    h1{
    font-size: 30px;
    color: firebrick;
    text-align: left;
    border-bottom: 2px solid blue;
}
 table{
    font-size: 20px;
}
    td{
   padding: 10px 2px 0px 0px; 
}
    .txt{
    width: 80px;
    height: 15px;
    border-radius: 4px;
}
    .txtarea{
    width: 300px;
    height: 50px;
    border-radius: 4px;
}
    .btn1{
    width: 100px;
    height: 20px;
    background-color: blue;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}
}
