*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-height: 100vh;
}
.logo{
    height: 67px;
    padding: 0 2%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.text{
    width:90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text h6{
    color: #fff;
    font-size: 62px;
    font-family: 'Lato', sans-serif;
}

.text p{
    margin: 10px 0 40px;
    font-size: 40px;
    color: #fff;
    font-family: 'Garamond', sans-serif;
    line-height: 100%;
}
div .fa{
    display: none;
}
.menu-bar{
    background: linear-gradient(rgba(0,0,10,0.4),rgba(0,0,10,0.3));
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 10px;
    padding: 15px;
    
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.act,.menu-bar ul li:hover{
    background: rgb(20,90,210);
    border-radius: 1px;
}

.sub-menu{
    display: none;
}

.menu-bar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background: rgba(20,50,210);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover{
    color: violet;
}

@media(max-width:700px){
    .logo{
    display: none;
}
    .menu-bar ul{
    display: block;
        padding-bottom: 290px;
        
    
}  
    .menu-bar{
        background: linear-gradient(rgba(154,50,230,0.3),rgba(154,59,230,0.3));
        position:absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
     div .fa{
        display: block;
        color: #fff;
        margin: 10px;
        cursor: pointer;
}
}

/*--- Mood ---*/

.mood{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.mood-col{
    flex-basis: 31%;
    background: #fff3f7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.mood-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/* slider*/
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg{
    width: 100%;
    height: 100%;
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    position: absolute;
    top: 0;
}

.article{
    margin: 100px auto;
    width: 80%;
    background: linear-gradient(rgba(2, 0, 225,0.6),rgba(2, 0, 139,0.5));
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.article h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.btn1{
    margin: 6px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 23px;
    background:#DDA0DD;
    position: relative;
    cursor: pointer;
}
.btn1:hover{
    border: 1px solid violet;
    background: violet;
    transition: 1s;
}
.btn2{
    margin: 6px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 23px;
    background:#DDA0DD;
    position: relative;
    cursor: pointer;
}
.btn2:hover{
    border: 1px solid violet;
    background: violet;
    transition: 1s;
}
.btn3{
    margin: 6px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 23px;
    background:#DDA0DD;
    position: relative;
    cursor: pointer;
}
.btn3:hover{
    border: 1px solid violet;
    background: violet;
    transition: 1s;
}
h2{
    padding-bottom: 20px;
}
@media(max-width:700px){
    .text h6{
    color: #fff;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    }
    .text p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-family: 'Garamond', sans-serif;
    line-height: 100%;
}
    .btn1{
        font-size: 15px;
    }
    .btn2{
        font-size: 15px;
    }
    .btn3{
        font-size: 15px;
    }
}