*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-height: 648px;
}
.logo{
    height: 170px;
    padding: 0 2%;
}
body{
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
    
.menu-bar{
    background: rgb(150,50,210);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 10px;
    padding: 15px;
    
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.act,.menu-bar ul li:hover{
    background: rgb(20,90,210);
    border-radius: 1px;
}

.sub-menu{
    display: none;
}

.menu-bar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background: rgba(20,50,210);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover{
    color: violet;
