{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0,user-scalable=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mindreader/css/menu.css' %}">
    <title>Mindpal</title>
</head> 
    
<body>
    <!--- Home Page with image slider and drop down menu--->
<section class="header">
        <div class="overlay"> 
            <div class="menu-bar" id="menu">
            <left><img src="{% static 'mindreader/img/logo1.png'%}" class="logo"></left>
            <ul>
              <li class="act"><a href="">Home</a></li>
              <li><a href="">MindReader</a>
                  <div class="sub-menu">
                      <ul>
                      <li><a href="{% url 'quiz_start' %}">Questionairre</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="">MoodBooster</a>
                  <div class="sub-menu">
                      <ul>
                          <li><a href="game.html">Game</a></li>
                          <li><a href="{% url 'serene' %}">Serene Space</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="">Counselling</a>
                  <div class="sub-menu">
                      <ul>
                          <li><a href="room.html">Chat Room</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="">Feedback</a>
                  <div class="sub-menu">
                      <ul>
                          <li><a href="{% url 'feedback'%}">Feedback</a></li>
                      </ul>
                  </div>
              </li>
    </ul>       
    </div>
    <center><img src = "{% static 'mindreader/img/bg.png'%}"></center>
            </div>
    </section>
    <!--- Tips to improve Mood (Home Page) --->
    <section class="mood">
    <h1>TIPS TO IMPROVE YOUR MOOD</h1>
        <div class="row">
            <div class="mood-col">
                <h3>EXERCISE</h3>
                <img src="{% static 'mindreader/img/exercise.jpeg'%}">
                <p>Regular exercise can boost your self-esteem and can help you concentrate, sleep, and feel better. Exercise keeps the brain and your other vital organs healthy,and is also a significant benefit towards improving your mental health.</p>
            </div>
            <div class="mood-col">
                <h3>TAKE A BREAK</h3>
                <img src="{% static 'mindreader/img/takeabreak.jpeg'%}">
                <p>Taking a break may mean being very active. It may mean not doing very much at all.Take a deep breath… and relax. Try yoga or meditation, or just putting your feet up.Listen to your body. If you’re really tired, give yourself time to sleep. Without good sleep, our mental health suffers and our concentration goes downhill. Sometimes the world can wait.</p>
            </div>
            <div class="mood-col">
                <h3>DO SOMETHING YOU'RE GOOD AT</h3>
                <img src="{% static 'mindreader/img/dosomethingyouaregoodat.jpeg'%}">
                <p>Enjoying yourself helps beat stress. Doing an activity you enjoy probably means you’re good at it and achieving something boosts your self-esteem.Concentrating on a hobby like gardening or the crossword can help you forget your worries for a while and change your mood.An hour of sketching lets you express yourself creatively. A morning on the football pitch gets you active and gives you the chance to meet new people.</p>
            </div>
        </div>
    </section>
    <!--- Curated Articles which can help students --->
    <section class="article">
    <h1>Visit Curated Articles</h1>
        <a href="https://www.nature.com/articles/d41586-021-02690-5" target="_blank" class="btn1">Young people’s mental health is finally getting the attention it needs</a>
        <a href="https://www.wgu.edu/heyteach/article/importance-mental-health-awareness-schools1810.html" target="_blank" class="btn2">How a teacher is helping students cope with Mental illness</a>
        <a href="https://www.frontiersin.org/articles/10.3389/fpsyg.2020.01226/full" target="_blank" class="btn3">Research on Mental health and well-being of university students</a>
    </section>
    <center><h2>Copyright &copy; by Team 10</h2></center>
<script>
var slideImg=document.getElementById("slideImg");
    var images=new Array(
        "{% static 'mindreader/img/bg.png' %}",
        "{% static 'mindreader/img/peaceful.jpeg' %}",
        "{% static 'mindreader/img/clouds.jpeg' %}",
        "{% static 'mindreader/img/peaceful2.jpeg' %}"
    );
    
    var len=images.length;
    var i=0;
    
    function slider(){
        if(i>len-1){
            i=0;
        }
        slideImg.src=images[i];
        i++;
        setTimeout('slider()',3000);
    }
    var menu=document.getElementById("menu");
    function showMenu(){
        menu.style.right="0";
    }
    function hideMenu(){
        menu.style.right="-200px";
    }
</script>

</body>
</html>
