<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0,user-scalable=1">
    <link rel="stylesheet" type="text/css" href="menu.css">
    <title>Mindpal</title>
</head>
    
<body>
    
    <div class="menu-bar">
        <left><img src="logo1.png" class="logo"></left>
          <ul>
              <li class="act"><a href="">Home</a></li>
              <li><a href="">MindReader</a>
                  <div class="sub-menu">
                      <ul>
                      <li><a href="start.html" target="_blank">Questionairre</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="">MindBooster</a>
                  <div class="sub-menu">
                      <ul>
                          <li><a href="game.html" target="_blank">Game</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="">Other</a>
                  <div class="sub-menu">
                      <ul>
                          <li><a href="other.html" target="_blank">other</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="">Feedback</a>
                  <div class="sub-menu">
                      <ul>
                          <li><a href="feedback.html" target="_blank">Feedback</a></li>
                      </ul>
                  </div>
              </li>
    </ul>  
    </div>
    <center><img src="bg.png"></center>
</body>
</html>